@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  font-family: "Poppins",sans-serif;
  @apply bg-red h-screen;
}

#root{
  @apply h-screen;
  background-image: url("./images/bg-intro-mobile.png");
}

@media (min-width: 640px) {
  #root{
    background-image: url("./images/bg-intro-desktop.png");
  }  
}